%p#notice= notice
.breadcrumb
  = link_to "Projects", [:projects]
  = link_to @project.name, @project

.info
  %dl
    %dt Repo:
    %dd= @project.repo
    %dt Api key:
    %dd= @project.api_key
  = link_to 'Change', edit_project_path(@project)

%h3 Deploys
%table
  %thead
    %tr
      %th Deploy
      %th Revision
      %th Commits
      %th Env
      %th Location
      %th Deployer
      %th &nbsp;
  %tbody
    - @deploys.each do |deploy|
      %tr
        %td= deploy.created_at.to_s(:db)
        %td= deploy.revision[0..7]
        %td= deploy.commits.count
        %td= deploy.environment
        %td= deploy.location
        %td= deploy.deployer
        %td
          = link_to "View", deploy
= paginate @deploys
