.breadcrumb
  = link_to "Search", "javascript:void(0)"
  = link_to params[:query], "javascript:void(0)"

%h2 Found projects
%table
  %thead
    %tr
      %th Project
      %th Repo
      %th Last deploy
  %tbody
    - if @projects.none?
      %tr
        %td{ colspan: 3 } No projects found
    - @projects.each do |project|
      %tr
        %td= link_to project.name, project
        %td= project.repo
        %td= link_to project.deploys.last.description, project.deploys.last

%h2 Found commits
%table
  %thead
    %tr
      %th Project
      %th Deploy
      %th What
      %th When
      %th Where
      %th Who
  %tbody
    - if @commits.none?
      %tr
        %td{ colspan: 6 } No commits found
    - @commits.each do |commit|
      %tr
        %td= link_to commit.project.name, commit.project
        %td= link_to commit.deploy.revision, commit.deploy
        %td= commit.title
        %td= commit.deploy.created_at.to_s(:db)
        %td= commit.deploy.environment
        %td= commit.author_name
