!!!
%html
  %head
    %title Deploylog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #main
      %h1= link_to "Deploylogger", :root
      - if current_user
        .search
          = form_tag :search, url: :searches, method: :get, html: { role: "search" } do
            .search-input
              = text_field_tag :query, params[:query], placeholder: :search
            .search-submit
              = submit_tag "Search"
      = yield
